[core]
    editor = vim

[user]
    name = Ondřej Čertík
#    email = ondrej@certik.cz
    email = ondrej.certik@gmail.com

[color]
    diff  = auto
    status= auto
    branch= auto
    interactive = true

[alias]
    ci = commit
    di = diff --color-words
    st = status
    co = checkout
    gl = log --decorate --oneline --graph
    st2 = status -uno
    targz = !git archive --prefix=`basename $PWD`/ master | gzip > `basename $PWD`.tar.gz
    targz2 = !git archive --prefix=`basename $PWD`/ master | gzip > `basename $PWD`_tar_gz
    # Use this as follows: git sed old_method_name new_method_name
    sed = !cd ${GIT_PREFIX:-.} && sh -c 'git grep -l \"$1\" | xargs sed -i \"s/$1/$2/g\"' -
    pr = !sh -c 'git fetch origin pull/$1/head:pr-$1 && git checkout pr-$1' -
