[core]
    editor = vim

[user]
    name = Ondřej Čertík
    email = ondrej@certik.us

[color]
    diff  = auto
    status= auto
    branch= auto
    interactive = true

[alias]
    ci = commit
    cim = commit -a --amend --no-edit
    di = diff --color-words
    st = status --ignored
    co = checkout
    gl = log --decorate --oneline --graph
    st2 = status -uno
    targz = !git archive --prefix=`basename $PWD`/ master | gzip > `basename $PWD`.tar.gz
    targz2 = !git archive --prefix=`basename $PWD`/ master | gzip > `basename $PWD`_tar_gz
    # Use this as follows: git sed old_method_name new_method_name
    sed = !sh -c 'git grep --null --full-name --name-only --perl-regexp -e \"$1\" | xargs -0 perl -i -p -e \"s/$1/$2/g\"' -
    mr = !sh -c 'git fetch $1 merge-requests/$2/head:mr-$1-$2 && git checkout mr-$1-$2' -
    pr = !sh -c 'git fetch $1 pull/$2/head:pr-$1-$2 && git checkout pr-$1-$2' -
    pr-bitbucket = !sh -c 'git fetch $1 pull-requests/$2/from:pr-$1-$2 && git checkout pr-$1-$2' -
    bclean = "!f() { git checkout ${1-master} && git branch --merged ${1-master} | grep -v " ${1-master}$" | xargs git branch -d; }; f"
    up = !git pull --rebase --prune $@ && git remote update -p
    bdone = "!f() { git checkout ${1-master} && git up && git bclean ${1-master}; }; f"
